.section{
  background-color: #EEF2F5;
  height: 70vh;
  min-width: 350px;
  margin-right: 1%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: auto; 
  padding-bottom: 3%;
  

}
.section::-webkit-scrollbar {
  height: 6px ; 
  width: 8px;
}

.section::-webkit-scrollbar-track {
  background: white; 
}

.section::-webkit-scrollbar-thumb {
  background: #9CB7C5; 
  border-radius: 5px; 
}

.section::-webkit-scrollbar-thumb:hover {
  background: #9CB7C5; 
}
.section-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  font-family: 'Poppins', sans-serif;
}
.section-icons{
  display: flex;
  cursor: pointer;
  width: 20%;
  justify-content: flex-end;

}
.section-icon-add{
  margin-right: 30%;
}